In [112]:
import requests
res = requests.get('http://www.taifex.com.tw/chinese/3/3_1_1.asp')
res.encoding ='UTF-8'
#res.text

In [113]:
from bs4 import BeautifulSoup as bs
soup = bs(res.text,'html.parser')
#soup

In [114]:
tb = soup.select('.table_f')
tb[0]

<table border="0" cellpadding="2" cellspacing="1" class="table_f" width="965">
<tbody>
<tr bgcolor="#6699CC" class="12whit">
<th width="30">契約</th>
<th width="50">到期<br>月份<br>(週別)</br></br></th>
<th width="50">開盤價</th>
<th width="50">最高價</th>
<th width="50">最低價</th>
<th width="50">最後<br>成交價</br></th>
<th width="65">漲跌價</th>
<th width="70">漲跌%</th>
<th width="50">*成交量</th>
<th width="50">結算價</th>
<th width="60">*未沖銷契約量</th>
<th width="50">最後最佳買價</th>
<th width="50">最後最佳賣價</th>
<th width="50">歷史最高價</th>
<th width="50">歷史最低價</th>
</tr>
<tr bgcolor="ivory">
<td class="12bk"><div align="center">TX
											  </div></td>
<td class="12bk"><div align="center">201705  </div></td>
<td align="right" class="12bk">9829</td>
<td align="right" class="12bk">9850</td>
<td align="right" class="12bk">9808</td>
<td align="right" class="12bk">9839</td>
<td align="middle" class="12green">
<font color="green">▼-3</font>
</td>
<td align="middle" class="12green">
<font color="green">▼ -0.03%</font>
</td>
<td align="right" class="12bk">94948</td>
<td align="right" class="12bk">
											9838
											</td>
<td align="right" class="12bk">88742</td>
<td align="right" class="12bk">9839</td>
<td align="right" class="12bk">9840</td>
<td align="right" class="12bk">9967</td>
<td align="right" class="12bk">9584</td>
</tr>
<tr bgcolor="#CFDFEF">
<td class="12bk"> <div align="center">TX
											  </div></td>
<td class="12bk"> <div align="center">201706
											  </div></td>
<td align="right" class="12bk">9819</td>
<td align="right" class="12bk">9837</td>
<td align="right" class="12bk">9796</td>
<td align="right" class="12bk">9827</td>
<td align="middle" class="12green">
<font color="green">▼-1</font>
</td>
<td align="middle" class="12green">
<font color="green">▼ -0.01%</font>
</td>
<td align="right" class="12bk">2048</td>
<td align="right" class="12bk">
											9826
											</td>
<td align="right" class="12bk">7747</td>
<td align="right" class="12bk">9826</td>
<td align="right" class="12bk">9828</td>
<td align="right" class="12bk">9950</td>
<td align="right" class="12bk">8659</td>
</tr>
<tr bgcolor="ivory">
<td class="12bk"><div align="center">TX
											  </div></td>
<td class="12bk"><div align="center">201709  </div></td>
<td align="right" class="12bk">9440</td>
<td align="right" class="12bk">9465</td>
<td align="right" class="12bk">9430</td>
<td align="right" class="12bk">9458</td>
<td align="middle" class="12green">
<font color="green">▼-5</font>
</td>
<td align="middle" class="12green">
<font color="green">▼ -0.05%</font>
</td>
<td align="right" class="12bk">422</td>
<td align="right" class="12bk">
											9458
											</td>
<td align="right" class="12bk">3911</td>
<td align="right" class="12bk">9457</td>
<td align="right" class="12bk">9460</td>
<td align="right" class="12bk">9599</td>
<td align="right" class="12bk">8430</td>
</tr>
<tr bgcolor="#CFDFEF">
<td class="12bk"> <div align="center">TX
											  </div></td>
<td class="12bk"> <div align="center">201712
											  </div></td>
<td align="right" class="12bk">9422</td>
<td align="right" class="12bk">9434</td>
<td align="right" class="12bk">9395</td>
<td align="right" class="12bk">9427</td>
<td align="middle" class="12green">
<font color="green">▼-2</font>
</td>
<td align="middle" class="12green">
<font color="green">▼ -0.02%</font>
</td>
<td align="right" class="12bk">311</td>
<td align="right" class="12bk">
											9427
											</td>
<td align="right" class="12bk">2538</td>
<td align="right" class="12bk">9425</td>
<td align="right" class="12bk">9429</td>
<td align="right" class="12bk">9739</td>
<td align="right" class="12bk">8856</td>
</tr>
<tr bgcolor="ivory">
<td class="12bk"><div align="center">TX
											  </div></td>
<td class="12bk"><div align="center">201803  </div></td>
<td align="right" class="12bk">9380</td>
<td align="right" class="12bk">9403</td>
<td align="right" class="12bk">9368</td>
<td align="right" class="12bk">9393</td>
<td align="middle" class="12green">
<font color="green">▼-2</font>
</td>
<td align="middle" class="12green">
<font color="green">▼ -0.02%</font>
</td>
<td align="right" class="12bk">128</td>
<td align="right" class="12bk">
											9393
											</td>
<td align="right" class="12bk">672</td>
<td align="right" class="12bk">9390</td>
<td align="right" class="12bk">9393</td>
<td align="right" class="12bk">9422</td>
<td align="right" class="12bk">9146</td>
</tr>
<tr bgcolor="#CFDFEF">
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td class="12bk">小計:</td>
<td align="right" class="12bk">97857</td>
<td> </td>
<td align="right" bgcolor="#CFDFEF" class="12bk">103610</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>

In [115]:
type(tb[0])

bs4.element.Tag

In [116]:
import pandas
dfs = pandas.read_html(tb[0].prettify('utf-8'))
#dfs[0].columns = ['item','month','open','high','low','close','aa','bb','volume','end','OI','bestbuy','bestsell','hishigh','hislow']
#dfs[0][1:-1]

In [117]:
from datetime import datetime
type(datetime.now())
currenttime = datetime.now()
currenttime.strftime('%Y%m%d')

'20170428'

In [122]:
FUlist = dfs[0]
FUlist['YMD'] = currenttime.strftime('%Y%m%d')
FU = FUlist[1:-1]
FU.columns = ['item','month','open','high','low','close','aa','bb','volume','end','OI','bestbuy','bestsell','hishigh','hislow','YMD']
FU.is_copy = False
FU.drop(['aa','bb','volume','OI','bestbuy','bestsell','hishigh','hislow','end'],inplace=True,axis=1)
FU

  item   month  open  high   low close       YMD
1   TX  201705  9829  9850  9808  9839  20170428
2   TX  201706  9819  9837  9796  9827  20170428
3   TX  201709  9440  9465  9430  9458  20170428
4   TX  201712  9422  9434  9395  9427  20170428
5   TX  201803  9380  9403  9368  9393  20170428

In [26]:
from datetime import datetime, timedelta
currenttime = datetime.now()
currenttime - timedelta(days = 1000)
currenttime = datetime.now()
year      = int(currenttime.strftime('%Y')) -1911
monthdate = currenttime.strftime('%m/%d')
#str(year) + '/' + monthdate
ymd = '{}/{}'.format(year, monthdate)
ymd

'106/04/24'

In [86]:
list_json = FU.to_json(orient="values")
print(list_json)

[["TX","201705","9665","9706","9655","9697","\u25b282","\u25b2 0.85%","110196","9698","84624","9697","9698","9967","9584","20170424"],["TX","201706","9659","9692","9643","9683","\u25b281","\u25b2 0.84%","1913","9683","6749","9682","9685","9950","8659","20170424"],["TX","201709","9301","9338","9287","9329","\u25b282","\u25b2 0.89%","266","9329","2419","9327","9330","9599","8430","20170424"],["TX","201712","9260","9298","9247","9291","\u25b283","\u25b2 0.90%","171","9291","1948","9287","9291","9739","8856","20170424"],["TX","201803","9222","9262","9214","9258","\u25b287","\u25b2 0.95%","299","9258","469","9255","9258","9262","9146","20170424"]]

In [111]:
import sqlalchemy
import pyodbc
#engine = sqlalchemy.create_engine("mssql+pyodbc://sa:sinopac@MarkSQL")
#FU.to_sql("FUprice", engine,if_exists = 'append')