In [90]:
import requests
res = requests.get('http://www.taifex.com.tw/chinese/3/3_1_1.asp')
res.encoding ='UTF-8'
#res.text

In [91]:
from bs4 import BeautifulSoup as bs
soup = bs(res.text,'html.parser')
#soup

In [92]:
tb = soup.select('.table_f')
tb[0]

In [5]:
type(tb[0])

bs4.element.Tag

In [93]:
import pandas
dfs = pandas.read_html(tb[0].prettify('utf-8'))
#dfs[0].columns = ['item','month','open','high','low','close','aa','bb','volume','end','OI','bestbuy','bestsell','hishigh','hislow']
#dfs[0][1:-1]

In [94]:
from datetime import datetime
type(datetime.now())
currenttime = datetime.now()
currenttime.strftime('%Y%m%d')

'20170424'

In [102]:
FUlist = dfs[0]
FUlist['YMD'] = currenttime.strftime('%Y%m%d')
FU = FUlist[1:-1]
FU.columns = ['item','month','open','high','low','close','aa','bb','volume','end','OI','bestbuy','bestsell','hishigh','hislow','YMD']
FU.is_copy = False
FU.drop(['aa','bb'],inplace=True,axis=1)
FU

,item,month,open,high,low,close,volume,end,OI,bestbuy,bestsell,hishigh,hislow,YMD
1,TX,201705,9747,9766,9684,9705,124863,9706,86630,9705,9706,9967,9584,20170424
2,TX,201706,9729,9751,9671,9690,2637,9690,6869,9690,9693,9950,8659,20170424
3,TX,201709,9370,9398,9315,9332,580,9332,2733,9331,9332,9599,8430,20170424
4,TX,201712,9349,9353,9278,9295,157,9295,1961,9291,9294,9739,8856,20170424
5,TX,201803,9307,9310,9245,9261,64,9261,501,9257,9260,9310,9146,20170424

In [26]:
from datetime import datetime, timedelta
currenttime = datetime.now()
currenttime - timedelta(days = 1000)
currenttime = datetime.now()
year      = int(currenttime.strftime('%Y')) -1911
monthdate = currenttime.strftime('%m/%d')
#str(year) + '/' + monthdate
ymd = '{}/{}'.format(year, monthdate)
ymd

'106/04/24'

In [86]:
list_json = FU.to_json(orient="values")
print(list_json)

[["TX","201705","9665","9706","9655","9697","\u25b282","\u25b2 0.85%","110196","9698","84624","9697","9698","9967","9584","20170424"],["TX","201706","9659","9692","9643","9683","\u25b281","\u25b2 0.84%","1913","9683","6749","9682","9685","9950","8659","20170424"],["TX","201709","9301","9338","9287","9329","\u25b282","\u25b2 0.89%","266","9329","2419","9327","9330","9599","8430","20170424"],["TX","201712","9260","9298","9247","9291","\u25b283","\u25b2 0.90%","171","9291","1948","9287","9291","9739","8856","20170424"],["TX","201803","9222","9262","9214","9258","\u25b287","\u25b2 0.95%","299","9258","469","9255","9258","9262","9146","20170424"]]

In [111]:
import sqlalchemy
import pyodbc
#engine = sqlalchemy.create_engine("mssql+pyodbc://sa:sinopac@MarkSQL")
#FU.to_sql("FUprice", engine,if_exists = 'append')